<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="Swag Labs Tests" >
  <listeners> <listener class-name="seleniumProject.Listeners"></listener></listeners>
   <test name="E2E Test" >
      <classes>
        <class name="seleniumProject.HomePage"/>
        <class name="seleniumProject.CartTest"/>
      </classes>
    </test> 
  </suite>
